.section {
    position: fixed;
    right: 0;
    top: 35%;
    padding: 1rem;
    background-color: transparent;
    border-right: transparent;
    width: 4rem;
}

.liste {
    display: flex;
    flex-direction: column;
    align-items: end;
    list-style: none;
    gap: 1rem;
    color: white;
}

.liste li:hover {
    color: var(--color-accent-light);
    cursor: pointer;
    transform: scale(1.4);
}

.active {
    color: var(--color-accent-light);
    transform: scale(1.4);
}
