.card {
    height: 36em;
    width: 28em;
    border: solid;
    border-color: var(--color-accent-light);
    background-color: var(--color-bg-secondary);
    border-radius: 4em;
    overflow: hidden;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    padding: 0.2em 0.5em;
}

.mainImg {
    width: 100%;
    height: 18em;
    object-fit: cover;
}

.testImg {
    border: solid grey;
    height: 4em;
    width: 4em;
}

.thumbnails {
    display: flex;
    justify-content: center;
    object-fit: cover;
    padding: 0.2em 1em;
    gap: 4em;
    position: relative;
}

.tagContenair {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 0.5em;
    padding: 0.5em;
    height: 6em;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    text-align: center;
    color: var(--color-text-secondari);
    border: solid var(--color-text);
    border-radius: 50%;
    width: 6em;
    height: 3em;
}

.infoContenair {
    display: flex;
    justify-content: space-around;
    align-items: end;
    background-color: var(--color-bg-secondary);
    height: 3em;
}

.text {
    font-size: 0.8em;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8em;
    opacity: 0;
    transition: opacity 0.3s ease;
}

:hover.search {
    opacity: 1;
    cursor: pointer;
}
