.card {
    height: 36em;
    width: 28em;
    border: solid;
    border-color: var(--color-accent-light);
    background-color: var(--color-bg-secondary);
    border-radius: 4em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cardContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em 1em;
    min-height: 16em;
}

.mainImg {
    width: 100%;
    height: 18em;
    object-fit: cover;
    object-position: center;
    border-bottom: 1px solid var(--color-accent-light);
}

.testImg {
    border: solid grey;
    height: 4em;
    width: 4em;
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 0.5em;
}

.thumbnailWrapper {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 8px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.overlay {
    position: absolute;
    inset: 0; // equivale a top:0; right:0; bottom:0; left:0
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.thumbnailWrapper:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.search {
    color: white;
    font-size: 1.5em;
}

.tagContenair {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 0.5em;
    padding: 0.5em;
    height: 6em;
}

.tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 1.2em;
    font-size: 0.8em;
    color: var(--color-text-secondari);
    border: 1px solid var(--color-text);
    border-radius: 999px;
    height: 3em;
}

.infoContenair {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-bg-secondary);
    height: 3em;
}

.text {
    font-size: 0.8em;
}

.infoButton {
    border: none;
    background-color: transparent;
    color: var(--color-link);
}

.infoButton:hover {
    background-color: var(--color-accent-light);
}
