.card {
    width: 30em;
    height: 50vh;
    border: solid 1px var(--color-bg);
    border-radius: 80px 80px;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        display: block;
        object-position: center;
    }
}

.overlay {
    position: absolute; /* posiciona encima del contenido */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color, rgba(0, 0, 0, 0.4));
    z-index: 1; /* suficiente para estar encima de la imagen */
    cursor: pointer;
}
