.card {
    width: 20rem;
    height: 24rem;
    box-shadow: 3px 3px 10px 1px var(--color-link);
    border-radius: 25px 25px 8px 8px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;

    img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        display: block;
        object-position: center;
    }
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-accent);
}

.text {
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content {
    color: var(--color-text);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(28, 100, 116, 0.9);
}

.bottomContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.card:hover {
    cursor: pointer;
}

.card:hover img {
    scale: 1.1; /* la imagen se oscurece */
    transition: scale 0.5s ease;
}

.content button {
    width: fit-content;
    color: var(--color-bg);
}

@media (max-width: 1023px) {
    .overlay .content {
        opacity: 1;
        transform: translateY(0);
    }

    .card img {
        filter: brightness(50%); /* la imagen se oscurece */
        transition: filter 0.3s ease;
    }
}

@media (max-width: 460px) {
    .card {
        width: 18rem;
        height: 14rem;
    }
    .text {
        font-size: 0.8rem;
    }
    .overlay {
        padding: 2.5rem;
    }

    .overlay .content {
        justify-content: center;
        gap: 1.5rem;
    }
}
