.card {
    width: 24rem;
    height: 18rem;
    border: solid 1px var(--color-bg);
    border-radius: 60px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        display: block;
        object-position: center;
    }
}

.text {
    font-size: 1rem;
    text-align: center;
}

.overlay {
    position: absolute; /* posiciona encima del contenido */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: flex;
    background-color: var(--overlay-color, rgba(0, 0, 0, 0.4));
    z-index: 1; /* suficiente para estar encima de la imagen */
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.overlay .content {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover img {
    filter: brightness(50%); /* la imagen se oscurece */
    transition: filter 0.3s ease;
}

.card:hover .overlay .content {
    opacity: 1;
    transform: translateY(0);
}

.content button {
    width: fit-content;
    color: var(--color-bg);
}

@media (max-width: 1023px) {
    .overlay .content {
        opacity: 1;
        transform: translateY(0);
    }

    .card img {
        filter: brightness(50%); /* la imagen se oscurece */
        transition: filter 0.3s ease;
    }
}

@media (max-width: 460px) {
    .card {
        width: 18rem;
        height: 14rem;
    }
    .text {
        font-size: 0.8rem;
    }
    .overlay {
        padding: 2.5rem;
    }

    .overlay .content {
        justify-content: center;
        gap: 1.5rem;
    }
}
