.title {
    text-align: center;
}

.sectionContenair {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;
    width: 100%;
}

.projectsContenair {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
    padding: 1em;
    padding-bottom: 4em;
}
