.contenair {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28em;
    overflow: hidden;
    gap: 4em;
}

.contenair img {
    width: 40%;
    height: 28em;
    border-radius: 1rem;
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.contenair.reverse {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .contenair {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .contenair img {
        display: none;
    }

    .contenair.reverse {
        flex-direction: column-reverse;
    }

    .text {
        gap: 1em;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .contenair {
        height: auto;
    }

    .text {
        gap: 1em;
    }
}
