.contenair {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32em;
    overflow: hidden;
    gap: 4em;
}

.contenair img {
    width: 40%;
    border-radius: 1rem;
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.contenair.reverse {
    flex-direction: row-reverse;
}
