.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
    overflow-y: auto;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--color-bg-secondary);
    border-radius: 1rem;
    width: 60em;
    min-height: max-content;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: slideUp 0.3s ease;
    color: var(--color-text);
}

.modal strong {
    color: var(--color-link);
}

.ul {
    padding-left: 2em;
}

.lien {
    color: var(--color-text);
    text-decoration: underline;
}

.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: inherit;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .modal {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 90%;
        height: 90%;
        font-size: 0.8em;
        overflow-y: auto;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .modal {
        width: 90%;
        height: 90%;
        font-size: 0.9em;
        overflow-y: auto;
    }
}
