.contenair {
    display: flex;
    padding-left: 4em;
    gap: 2em;
}

.buttonsContenair {
    display: flex;
    gap: 1em;
}

.contenair h3 {
    font-size: 1.6em;
}

@media (max-width: 768px) {
    .contenair {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .buttonsContenair button {
        color: var(--color-text);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .contenair {
        justify-content: center;
        padding: 0;
    }
}
