.contenair {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    label {
        color: var(--color-text);
    }
}

.nameContainer {
    display: flex;
    min-width: 100%;
    gap: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs {
    display: flex;
    border-radius: 8px;
    width: 100%;
    height: 2rem;
    gap: 0.2rem;
}

.highlight {
    color: var(--color-accent);
}

.button {
    display: flex;
    align-items: center;
}

.messageContainer {
    width: 100%;
    min-height: 6rem;
    border-radius: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.statusMsg {
    min-height: 2em;
    transition: opacity 0.5s ease;
    opacity: 1;
}

@media (max-width: 768px) {
    .button {
        display: flex;
        justify-content: center;
    }

    .contenair h3 {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .contenair h3 {
        text-align: start;
    }
    .button {
        display: flex;
        justify-content: start;
    }
}
