.contenair {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.form {
    display: flex;
    flex-direction: column;
}

.statusMsg {
    min-height: 2em;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.button {
    margin-top: 1em;
}

@media (max-width: 767px) {
    .button {
        display: flex;
        justify-content: center;
    }

    .contenair h3 {
        text-align: center;
    }
}
