.contenair {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.form {
    display: flex;
    flex-direction: column;
}

.statusMsg {
    min-height: 2em;
    transition: opacity 0.5s ease;
    opacity: 1;
}
