.contenair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: grey;
}

.centerContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
