.contenair {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.centerContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

@media (max-width: 767px) {
    .sectionContenair {
        margin: 0;
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr;
    }

    .contenair {
        grid-template-columns: 1fr;
    }
}
