.contenair {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.centerContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.sectionContenair {
    margin: 4em;
}
