.sectionContenair {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-bg);
    h2,
    h3 {
        color: var(--color-accent);
    }
}

.contenair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    gap: 8em;
    width: 100%;
    margin-top: 2em;
}

.columnContenair {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

@media (max-width: 768px) {
    .sectionContenair {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .contenair {
        grid-template-columns: 1fr;
        gap: 4em;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .sectionContenair {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
    }

    .contenair {
        grid-template-columns: 1fr;
        gap: 4em;
    }
}
