.headerContenair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    border: solid var(--color-link);
    padding: 2em;
}

.navContenair {
    display: flex;
    gap: 2em;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
