.headerContenair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    width: 100%;
    border: solid var(--color-accent);
    padding: 2em;
    background-color: black;
}

.navContenair {
    display: flex;
    gap: 2em;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.1em var(--color-accent);
    border-radius: 50%;
    padding: 0.8em;
}

.active {
    color: #8b5cf6;
    font-weight: bold;
    border-bottom: 0.18em solid #ebcd45;
    padding-bottom: 0.2em;
    transition: all 0.1s ease;
}

.icon {
    font-size: 2em;
}

@media (max-width: 767px) {
    .headerContenair {
        width: 100%;
        padding: 2em;
        background-color: black;
        border: solid var(--color-accent);
    }
}
