.headerBanner {
    min-width: 100%;
    height: 100vh;
    background-image: url("../../images/banner-img.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-accent);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    padding: 2rem;

    h1 {
        font-size: 5rem;
        margin-bottom: 0.5rem;
        color: var(--color-accent-);
    }
    h2 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
        color: var(--color-accent-light);
    }
    p {
        font-size: 2.5rem;
        color: var(--color-text);
        span {
            color: var(--color-accent);
        }
    }
}

//Aninmtions

@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.overlay h1,
.overlay h2 {
    opacity: 0;
    animation: fadeSlideUp 1.2s ease forwards;
    animation-delay: 0.5s;
}

.overlay h2 {
    animation-delay: 0.9s;
}

.typeWriter {
    display: inline-block;
    white-space: normal; /* permite salto de línea */
    word-wrap: break-word;
    border-right: 2px solid #fff; /* cursor */
    font-size: 2rem;
    animation: blink 1s step-start infinite; /* animación del cursor */
}

@keyframes blink {
    50% {
        border-color: transparent;
    } /* desaparece a la mitad del ciclo */
    100% {
        border-color: #fff;
    } /* reaparece */
}

//Responsive

@media (max-width: 768px) {
    .headerBanner {
        max-width: 100vw;
    }

    .overlay {
        h1 {
            text-align: center;
            font-size: 3.8rem;
            margin-bottom: 0.5rem;
            color: var(--color-accent-);
        }
        h2 {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 1rem;
            color: var(--color-accent-light);
        }
        p {
            text-align: center;
            font-size: 2rem;
            color: var(--color-text);
            span {
                color: var(--color-accent);
            }
        }
    }

    .typeWriter {
        border-right: none;
        animation: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .overlay {
        h1 {
            text-align: center;
        }
    }
}
