.headerContenair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    border: solid var(--color-accent);
    padding: 2em;
    background-color: black;
}

.navContenair {
    display: flex;
    gap: 2em;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 767px) {
    .headerContenair {
        margin: 0;
        background-color: black;
        border: solid var(--color-accent);
    }
}
