.contenair {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8em;
    margin: 2em 0;
    padding: 2em;
}

.heroImg {
    border-radius: 50%;
    border: solid;
    border-color: var(--color-accent);
    height: 14em;
    width: 14em;
    object-fit: cover;
}

h1 {
    font-size: 4em;
    color: var(--color-accent);
    text-align: center;
}

.subtitle {
    color: var(--color-link);
    font-size: 2.2em;
}

@media (max-width: 767px) {
    .contenair {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin: 2em 0;
        padding: 1em;
        width: 100%;
    }

    .legend {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .contenair {
        margin: 0;
        gap: 1.5em;
    }

    .contenair p,
    h2 {
        text-align: center;
    }
}
