.contenair {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14em;
    margin: 4em;
    padding: 2em;
}

.heroImg {
    border-radius: 50%;
    border: solid;
    border-color: var(--color-accent);
    height: 14em;
    width: 14em;
    object-fit: cover;
}

h1 {
    font-size: 4em;
    color: var(--color-accent);
}

.subtitle {
    color: var(--color-link);
    font-size: 2.2em;
}
