.card {
    border: solid 0.1em;
    border-radius: 0.75em;
    border-color: var(--color-accent-light);
    height: 8em;
    width: 24em;
    background-color: var(--color-bg-secondary);
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

&.side {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

&.stack {
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    max-height: 6em;
    max-width: 6em;
}
