.card {
    border: solid 0.1em;
    border-radius: 0.75em;
    border-color: var(--color-accent-light);
    height: auto;
    width: 100%;
    background-color: var(--color-bg-secondary);
    padding: 1.2em 1em;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.contenair {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: var(--color-accent-light);
}

.side {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stack {
    flex-direction: column;
}

.logo {
    border-radius: 50%;
    border: solid;
    border-color: var(--color-accent-light);
    height: 6em;
    width: 6em;
    object-fit: cover;
}

.paintBrush {
    font-size: 1.2em;
    color: var(--color-accent-light);
}

.title {
    display: flex;
    gap: 0.5em;
}

.icons {
    font-size: 3em;
    color: var(--color-accent-light);
}

.iconsContenair {
    display: flex;
    justify-content: center;
    gap: 4em;
    padding: 1em;
    color: var(--color-accent-light);
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    gap: 0.25em;
}

@media (max-width: 768px) {
    .iconsContenair {
        flex-wrap: wrap;
    }

    .side {
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card {
        width: 75%;
    }
}
