:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-bg: #23322d; /* Fondo general */
    --color-bg-secondary: #2e4b47; /* Fondo de tarjetas o bloques secundarios */
    --color-text: #faf8f4; /* Texto principal */
    --color-text-secondary: #886b55; /* Subtítulos, iconos o bordes suaves */
    --color-accent: #fdd8a7; /* Titulares principales y botones */
    --color-accent-light: #9dbfaf; /* Acento secundario / hover */
    --color-link: #96806c; /* Líneas divisorias o bordes sutiles */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: var(--color-link);
    text-decoration: inherit;
    cursor: pointer;
}
a:hover {
    color: var(--color-accent-light);
}

html,
body {
    min-width: 100%;
    min-height: 100vh;
    line-height: 1.5;
    background-color: var(--color-bg);
    color: var(--color-text-secondary);
    background-color: whitesmoke;
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1 {
    font-family: "Lemon", sans-serif;
    font-size: 4em;
    color: var(--color-text);
    margin: 0;
}

h2 {
    font-family: "Lora", serif;
    font-size: 3em;
    color: var(--color-text);
    margin: 0;
}

h3 {
    font-family: "Lora", serif;
    font-size: 2.2em;
    color: var(--color-text);
    margin: 0;
}

h4 {
    font-family: "Lora", serif;
    font-size: 1.2em;
    color: var(--color-text);
    margin: 0;
}

button {
    color: #23322d;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: var(--color-accent);
}
button:hover {
    background-color: var(--color-accent-light);
}
button:focus-visible {
    outline: none;
}

html {
    font-size: 16px;
}

/* Media querrys */

@media (max-width: 768px) {
    body {
        max-width: 100%; /* ocupa todo el ancho */
        margin: 0; /* elimina márgenes */
        display: flex;
        flex-direction: column;
        justify-content: center; /* centra verticalmente */
        align-items: center; /* centra horizontalmente */
        min-height: 100vh; /* asegura altura completa */
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets */
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
