.contenair {
    width: 100%;
    height: auto;
    background-color: var(--color-accent);
    padding: 2rem;

    h2 {
        color: var(--color-bg-secondary);
    }

    h3 {
        font-size: 2rem;
        color: var(--color-text-secondary);
    }
    h4 {
        color: var(--color-text-secondary);
    }

    img {
        width: 20em;
        height: 20em;
        border-radius: 50%;
        border: 4px solid var(--color-bg-secondary);
    }
}

.flex {
    display: flex;
    gap: 8rem;
    align-items: center;
    padding-top: 1rem;
}

.separateur {
    display: block;
    margin: 2rem 0;
    width: 8rem;
    height: 4px;
    background-color: var(--color-bg-secondary);
}

.textDistribution {
    width: 55%;
}
