.contenair {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 4em;
    gap: 1em;
    padding: 2em 4em;
    background-color: var(--color-bg-secondary);
}

.contenair h1 {
    margin-bottom: 1em;
}

@media (max-width: 767px) {
    .contenair {
        padding: 1em;
        gap: 2em;
    }

    .contenair h1 {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .contenair {
        padding: 1em;
        gap: 2em;
    }

    .contenair h1 {
        margin-bottom: 0;
    }

    .text {
        gap: 1em;
    }
}
